.testimonials {
    overflow: hidden;
    position: relative;
    max-height: 300px;
  }
  
  .testimonials {
    background: #161d25;
  }
  
  .one-slide,
  .testimonial,
  .message {
    border: none !important;
    outline: none !important;
  }
  
  .icon-overlay {
    position: absolute;
    opacity: 0.3;
    right: 10%;
    top: 0;
    height: auto;
    width: 100%;
    max-width: 400px;
  }
  
  .carousel-controls .control {
    position: absolute;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 1;
  }
  
  .prev {
    left: -2.25rem;
  }
  
  .next {
    right: -2.25rem;
  }
  
  @media screen and (max-width: 768px) {
    .testimonials {
      max-height: 700px;
    }
    .icon-overlay {
      height: 300px;
      top: calc(50% - 150px);
    }
    .carousel-controls .control {
      width: 25px;
      height: 25px;
      top: inherit;
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
    .control i {
      font-size: .7rem;
    }
    .testimonials .message {
      font-size: 1rem;
    }
    .testimonials h2 {
      font-size: 1.5rem;
    }
  }
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}